<launch>
 <group ns="elp_cam_back">
  <node name="elp_back" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/elp/back" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="yuyv" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/elp_cam_back/elp_back/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>


 <group ns="elp_cam_right">
  <node name="elp_right" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/elp/right" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="yuyv" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/elp_cam_right/elp_right/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>

 <group ns="elp_cam_front">
  <node name="elp_front" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/elp/front" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="yuyv" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/elp_cam_front/elp_front/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>

 <group ns="elp_cam_left">
  <node name="elp_left" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/elp/left" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="yuyv" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/elp_cam_left/elp_left/image_raw"/>
    <param name="autosize" value="true" />
  </node>
 </group>
</launch>
