<launch>
   <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find home)/data.bag"/>
   <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
   <remap from="image" to="/zed/right/image_raw_color"/>
   </node>
</launch>
